<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
  
    <style>
        .gameItem{
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #e8f5ee;
    height: 100px;
  
}
.unmatched{
    background-color: red;
}

.img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    object-position: center;
}

    </style>
  </head>
  <body>
    <main class="container">
        <%- include('partials/header.ejs') %>
        <div id="app">
            <section class="row" id="board">
                <!-- <div class="col-2 gameItem m-2 p1 text-center">
                    <img src="" alt="" class="img-fluid">

                </div> -->

            
            </section>
            <section class="row">
                <div class="col" id="reset">
                    <hr>
                    <button class="btn btn-primary" id="reset">Reset Game</button>
                    <button class="btn btn-danger" id="cancel">Cancel Game</button>
                </div>
            </section>

        </div>
        <footer class="row">
            <%- include('partials/footer.ejs') %>
        </footer>
      </main>

      <script src="assets/main.bundle.js"></script>
      <script src="assets/vendors~main.chunk.js"></script>
      <%- include('partials/foot.ejs') %>
  </body>
</html>