<!doctype html>
<html lang="en">
  <head>

    <%- include('partials/head.ejs') %>
  </head>
  <body>
      <main class="container">
        <header class="row">
            <%- include('partials/header.ejs') %>
        </header>
        <section class="row" id="app">
            <div class="col-6 offset-3 mt-3">
                <form action="board">
                    <div class="form-group">
                      <label for="username">username</label>
                      <input type="text"
                        class="form-control" name="username" id="username" aria-describedby="usernameHelpId" placeholder="username">
                      <small id="UsernameHelpId" class="form-text text-muted invisible">
                        Username is must be not empty or at least 3 character</small>
                    </div>
                    <div class="form-group">
                        <hr>
                        <button id="play" type="button" class="btn btn-primary"> Play Game</button>
                    </div>
                </form>
            </div>
        </section>
        <footer class="row">
            <%- include('partials/footer.ejs') %>
        </footer>
      </main>
      <%- include('partials/foot.ejs') %>
    </body>
    <script src="assets/user.bundle.js"></script>
    <script src="assets/vendors~user.chunk.js"></script>
</html>