.gameItem{
    border: 1px solid #333;
    border-radius: 5px;
    box-shadow: 5px 10px 10px #e8f5ee;
    height: 100px;
    justify-content: space-between;
}
.unmatched{
    background-color: red;
}
